main {
    display: flex;
    height: 100%;
    position: relative;
    justify-content: center;
}

#buttons {
    min-width: 76px;
    height: 650px;
    display: flex;
    align-items: center;
}

#buttons button {
    height: 76px;
    width: 76px;
    background-color: white;
    border-radius: 50%;
    border: none;
}

#buttons button:hover {
    background-color: $pink;
}

#media-main {   
    min-width: 740px;
    height: 650px;
    margin-left: 40px;
    background-color: transparent;
    border-radius: 20px;
}

#grid-main {
    display: grid;
    justify-items: center;
}

#video, #reel, #flash {
    grid-column: 1;
    grid-row: 1;
    margin-top: 40px;
}

#background-canvas {
    grid-column: 1;
    grid-row: 1;
    width: 800px;
    height: 650px;
    border-radius: 20px;
    position: absolute;
    z-index: -1;
}

#sticker-canvas {
    grid-column: 1;
    grid-row: 1;
    width: 800px;
    height: 525px;
    border-radius: 20px;
    position: absolute;
}

#video {
    width: 610px;
    height: 469px;
}

#flash {
    width: 610px;
    height: 469px;
    background-color: white;
    visibility: hidden;
}

.flash {
    animation: fadeOut ease 1s;
}

@keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
}
  
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

#caption {
    z-index: 2;
    resize: none;
    border: none;
    width: 600px;
    height: 90px;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 800;
    margin-top: 10px;
    line-height: 1.3em;
    text-align: center;
    overflow: hidden;
    background-color: transparent;
    border: 1px solid transparent;
}

#caption:hover {
    border: 1px solid $pink;
}


#reel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 800px;
    height: 470px;
}

#picture-count {
    margin-left: 92px;
    padding-top: 15px;
    font-size: 25px;
    color: $blue;
}

#countdown {
    margin-top: -30px;
    color: $blue;
    font-size: 100px;
    text-align: center;
}

#start-video {
    width: 100px;
}

.reel-frame {
    width: 300px;
    height: 225px;
    margin: 0 5px;
}