#sidebar {   
    min-width: 300px;
    height: 650px;
    background-color: white;
    border-radius: 20px;
    // margin-right: 40px;
    margin-left: 40px;
    color: $blue;
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#frame-select {
    width: 250px;
    padding: 20px 20px 10px 20px;
    // display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;
}

#sticker-select {
    width: 260px;
    padding: 20px 20px 10px 20px;
}

#frame-list, #sticker-list {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.small-frame {
    width: 70px;
    height: 70px;
    border: 4px solid transparent;
    margin: 2.5px;
    // border: 1px solid black;
    // border-radius: 10px;
    // padding: 2px;
}

.small-frame:hover {
    padding: 0;
    border: 4px solid $pink;
    border-radius: 20px;
}

.selected-frame {
    border: 2px solid $blue;
    padding: 2px;
    border-radius: 15px;
}

#sticker-select {
    height: 200px;
    padding: 20px;
}

.sticker-frame {
    width: 72px;
    height: 72px;
    margin: 3px;
    border: 4px solid transparent;
    text-align: center;
}

.small-sticker {
    width: auto;
    height: 65px;
    // margin: 3px;
    // padding: 1px;
    // border: 4px solid transparent;
}

.sticker-frame:hover {
    padding: 0;
    border: 4px solid $pink;
    border-radius: 20px;
}

.selected-sticker {
    border: 2px solid $blue;
    padding: 2px;
    border-radius: 15px;
}

#text-select label {
    margin-left: 20px;
}

#text-color-select {
    // padding: 20px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

#text-color-select li {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    // display: inline-block;
}

#text-color-select li:hover {
    box-shadow: 0 0 0 3px $pink; 
}

#text-font-select {
    padding: 20px;
    width: 250px;
    display: flex;
    align-items: center;
}

#text-font-select li {
    margin-right: 10px;
    font-size: 20px;
    padding: 3px;
    border: 3px solid transparent;
}

#text-font-select li:hover {
    border: 3px solid $pink;
    border-radius: 10px;
}

#open {
    font-family: 'Open Sans', sans-serif;
}

#pacific {
    font-family: 'Pacifico', cursive;
}

#sunspot {
    font-family: 'Sunspot';
}

#white {
    background-color: white;
    border: 3px solid lightgrey;
}

#black {
    background-color: black;
    border: 3px solid white;
}
#blue {
    background-color: $blue;
    border: 3px solid white;
}
#pink {
    background-color: $pink;
    border: 3px solid white;
}


label {
    color: $blue;
}



// #picture-preview {
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     flex-wrap: wrap;
// }

// .small-frame {
//     width: 160px;
//     height: 120px;
//     margin: 20px;
// }