#sidebar {   
    min-width: 300px;
    height: 600px;
    background-color: white;
    border-radius: 20px;
    // margin-right: 40px;
    margin-left: 40px;
    color: $blue;
    font-size: 14px;
}

#frame-select {
    width: 100%;
    height: 50px;
    padding: 20px;
}

// #picture-preview {
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     flex-wrap: wrap;
// }

// .small-frame {
//     width: 160px;
//     height: 120px;
//     margin: 20px;
// }

#sticker-select {
    height: 200px;
    padding: 20px;
}

#text-select {
    padding: 20px;
}

label {
    color: $blue;
}