@import './styles/reset.scss';
@import './styles/colors.scss';
@import './styles/sidebar.scss';

body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1em;
    background-color: #FFEAEA;  
    overflow-y: hidden;
}

header {
    height: 90px;
    display: flex;
    justify-content: center;
    position: relative;
    // width: 100vw;
    // display: block;
}

#logo {
    margin-top: 30px;
    width: 100px;
    text-align: center;
    // text-align: center;
}

#logo-image {
    width: 110px;
}

#nav-links {
    position: absolute;
    top: 35;
    right: 100;
    // text-decoration: none;
}

#nav-links a {
    text-decoration: none;
}

// #nav-links img:hover {
//     color: $pink;
// }

#linkedin-logo {
    margin-right: 23px;
}

main {
    display: flex;
    // align-items: center;
    height: 100%;
    position: relative;
    justify-content: center;
}

#buttons {
    min-width: 76px;
}

#buttons button {
    height: 76px;
    width: 76px;
    background-color: white;
    border-radius: 50%;
    display: block;
    border: none;
}

#buttons button:hover {
    background-color: $pink;
}

#media-main {   
    min-width: 740px;
    height: 650px;
    margin-left: 40px;
    // display: grid;
    background-color: transparent;
    border-radius: 20px;
    // align-items: center;
    // justify-items: center;
}

#grid-main {
    display: grid;
    justify-items: center;
}

#counter-container {
    // position: absolute;
    // top: 0;
    // margin-left: 60px;
    // padding-top: 15px;
}

#video, #reel, #flash {
    grid-column: 1;
    grid-row: 1;
    margin-top: 40px;
}

#background-canvas {
    grid-column: 1;
    grid-row: 1;
    width: 800px;
    height: 650px;
    border-radius: 20px;
    position: absolute;
    z-index: -1;
}

#sticker-canvas {
    grid-column: 1;
    grid-row: 1;
    width: 800px;
    height: 650px;
    border-radius: 20px;
    position: absolute;
}

#video {
    width: 610px;
    height: 469px;
    // border: 1px solid $blue;
    // background-color: $blue;
    // opacity: .5;
}

#flash {
    width: 610px;
    height: 469px;
    background-color: white;
    visibility: hidden;
    // opacity: 0;

}

.flash {
    animation: fadeOut ease 1s;
}

@keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
  }

// #reel-container {
//     width: 800px;
//     height: 600px;
// }

#reel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // align-items: center;
    width: 800px;
    height: 470px;
}

#picture-count {
    // position: relative;
    // left: 0;
    margin-left: 92px;
    padding-top: 15px;
    font-size: 25px;
    color: $blue;
}

#countdown {
    margin-top: -30px;
    color: $blue;
    font-size: 100px;
    text-align: center;
}

#start-video {
    width: 100px;
}

.reel-frame {
    width: 300px;
    height: 225px;
    // border: 1px solid $pink;
    // background-color: $pink;
    // opacity: .5;
    margin: 0 5px;
}

#off-page-store {
    position: relative;
    overflow: hidden;
}

.offpage-frame {
    position: absolute;
    width: 800px;
    height: 600px;
    right: -5000px;

}