@import './styles/reset.scss';
@import './styles/colors.scss';
@import './styles/sidebar.scss';

body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1em;
    background-color: #FFEAEA;  
    overflow-y: hidden;
}

header {
    height: 90px;
    display: flex;
    justify-content: center;
    position: relative;
    // width: 100vw;
    // display: block;
}

#logo {
    margin-top: 30px;
    width: 100px;
    text-align: center;
    // text-align: center;
}

#logo-image {
    width: 110px;
}

#nav-links {
    position: absolute;
    top: 35;
    right: 100;
}

// #nav-links img:hover {
//     color: $pink;
// }

#linkedin-logo {
    margin-right: 23px;
}

main {
    display: flex;
    // align-items: center;
    height: 100%;
    position: relative;
    justify-content: center;
}

#buttons button {
    height: 76px;
    width: 76px;
    background-color: white;
    border-radius: 50%;
    display: block;
    border: none;
}

#buttons button:hover {
    background-color: $pink;
}

#main {   
    min-width: 740px;
    height: 650px;
    margin-left: 40px;
    display: grid;
    background-color: white;
    border-radius: 20px;
    // align-items: center;
    justify-items: center;
}

#video, #reel {
    grid-column: 1;
    grid-row: 1;
    margin-top: 40px;
}

#video {
    width: 610px;
    height: 469px;
    // border: 1px solid $blue;
    // background-color: $blue;
    // opacity: .5;
}

// #reel-container {
//     width: 800px;
//     height: 600px;
// }

#reel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // align-items: center;
    width: 800px;
    height: 470px;
}

#start-video {
    width: 100px;
}

.reel-frame {
    width: 300px;
    height: 225px;
    // border: 1px solid $pink;
    // background-color: $pink;
    // opacity: .5;
    margin: 0 5px;
}

#off-page-store {
    position: relative;
    overflow: hidden;
}

.offpage-frame {
    position: absolute;
    width: 800px;
    height: 600px;
    right: -5000px;

}