@import './styles/reset.scss';
@import './styles/colors.scss';
@import './styles/sidebar.scss';

body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #FFEAEA;  
}

main {
    display: flex;
    height: 100%;
    overflow: hidden;
    position: relative;
}



#main {   
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

video {
    margin: 0 auto;
    width: 740px;
    height: 700px;
    // border: 1px solid black;
    display: block;
}

#start-video {
    width: 100px;
}

#main-window {
    display: grid;
    background-color: white;
    border-radius: 10px;
}

#video, #reel {
    grid-column: 1;
    grid-row: 1;
}

#reel {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 600px;
}

.reel-frame {
    width: 320px;
    height: 240px;
    border: 2px solid black;
    margin: 20px;
}

#off-page-store {
    position: relative;
    overflow: hidden;
}

.offpage-frame {
    position: absolute;
    width: 800px;
    height: 600px;
    right: -5000px;

}